@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    /* Font */
    --font-primary: 'Manrope', sans-serif;

    /* Absolute */
    --color-white: #ffffff;
    --color-black: #000000;

    /* Red Shades */
    --color-red-45: #e50000;
    --color-red-50: #ff0000;
    --color-red-55: #ff1919;
    --color-red-60: #ff3333;
    --color-red-90: #ff9999;
    --color-red-93: #ffcccc;
    --color-red-95: #ffe5e5;
    --color-red-99: #fffafa;

    /* Black Shades */
    --color-black-06: #0f0f0f;
    --color-black-08: #141414;
    --color-black-10: #1a1a1a;
    --color-black-12: #1f1f1f;
    --color-black-15: #262626;
    --color-black-20: #333333;
    --color-black-25: #404040;
    --color-black-30: #4c4c4c;

    /* Grey Shades */
    --color-grey-60: #999999;
    --color-grey-65: #a6a6a6;
    --color-grey-70: #b3b3b3;
    --color-grey-75: #bfbfbf;
    --color-grey-90: #e4e4e7;
    --color-grey-95: #f1f1f3;
    --color-grey-97: #f7f7f9;
    --color-grey-99: #fcfcfd;
}

@layer base {
    :where(a, button, input, textarea, select, [tabindex]:not([tabindex="-1"])):focus-visible {
        outline: none;

        /* Tailwind ring utilities */
        @apply ring-2 ring-red-55/40;
        @apply ring-offset-2 ring-offset-black-08;
    }
}

body,
#root {
    @apply
    min-h-screen
    font-primary
    bg-black-08
}

/** { outline: 1px solid green; }*/
